.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #fff;
}
footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 95%;
}
/* d */
/* .navbar-collapse {
  
  top: 57px;
  background: #f8f9fa;
  z-index: 9999;
  
} */
