.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
 background-color:aliceblue; 
}
footer{
  position: absolute;
 
 
}
.site-card-wrapper {
  background:grey;
  padding: 30px;
}
#courseCard{
  font-size: 25px;
  background-color: black;
  color: aliceblue;
  border-color: floralwhite;
  border: solid white;
  max-width:17rem;
  width: 17rem;
}
#courseCard:hover{
  background-color: #2FDED4;
  color: black;
  
}
